<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header"></head>
	<body>
		<div th:replace="fragments/navigation"></div>
		<div class="page-header text-center">
			<h2>Lihat Data Penduduk</h2>
		</div>
	    
	    <div class="container text-center">
		    <form method="get" action="/penduduk/cari">
				<label for="kota">Kota/Kabupaten</label>
				<br />
	            <select name="kt" id="kota" th:readonly="true" required="true">
		            <option th:value="${kota.id}" th:readonly="true" th:text="${kota.nama_kota}"></option>
	            </select>
	            <br /><br />
	            
	            <label for="kecamatan">Kecamatan</label>
	            <br />
	            <select name="kc" id="kecamatan" required="true">
		            <option value="" th:disabled="disabled" th:selected="selected">Pilih Kecamatan</option>
		            <div th:each="kecamatan : ${kecamatan}">
					    <option th:value="${kecamatan.id}" th:text="${kecamatan.nama_kecamatan}">Kecamatan</option>
		            </div>
	            </select>
		        <br/><br />
		        
		    	<button type="submit" class="btn btn-primary">Lihat</button>
		    </form>
	    </div>
		<div th:replace="fragments/footer"></div>
	</body>
</html>